<div class="container-h">
  <mat-slide-toggle
    class="toggle"
    [checked]="isToggleOn"
    (change)="onToggle()"
  ></mat-slide-toggle>
</div>

<div class="collapse d-lg-block sidebar collapse bg-blue m-0">
  <div class="container w-100 p-0">
    <ul class="navbar-nav">
      <li class="card">
        <a
          class="nav-link w-100"
          routerLink="gridview"
          routerLinkActive="active"
          (click)="changeToggle()"
        >
          <button mat-button><mat-icon>view_module</mat-icon> Grid View</button>
        </a>
      </li>
      <li class="card">
        <a
          class="nav-link w-100"
          routerLink="listview"
          routerLinkActive="active"
          (click)="changeToggle()"
          ><button mat-button><mat-icon>view_list</mat-icon> List View</button>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="container w-100 add-button">
  <app-add-button></app-add-button>
</div>

<div class="container w-100 View">
  <router-outlet></router-outlet>
</div>
