.sidebar {
  display: flex;
  float: left;
  width: 300px;
  height: 877px;
  text-align: center;
  background-color: cornflowerblue;
}

.container-h {
  display: flex;
  justify-content: right;
  background-color: cornflowerblue;
  p {
    float: right;
    margin-top: 13px;
    padding-left: 10px;
    color: white;
    font-weight: bolder;
  }
  h1 {
    margin-right: 1400px;
    margin-top: 20px;
    color: white;
    font-weight: bolder;
  }
}

.View {
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  max-height: 650px;
  overflow: scroll;
}

.toggle {
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  background-color: cornflowerblue;
}

.card {
  border: 0;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
}

.active {
  background-color: white;
  button {
    font-weight: 900;
    color: cornflowerblue;
  }
}
.add-button {
  margin-top: 35px;
  float: right;
}

.searchbar {
  margin-top: 30px;
  margin-left: 100px;
  float: left;
  width: 600px;
}

.searchbar input {
  border: none;
  outline: none;
  font-size: 16px;
  color: #333;
  width: 100%;
}
