

.child {
  float: left;
  margin: 10px;
  width: 300px;
  height: 350px;
  // overflow: hidden;
}

.m-6 {
  margin: 15px;
}

.card {
  max-width: 300px;
  max-height: 300px;
}

.mt-2 {
  .menu-item {
    float: right;
  }
  .details {
    margin-top: 10px;
    float: left;
  }
}

