.sidebar {
  display: flex;
  float: left;
  width: 300px;
  height: 877px;
  text-align: center;
  background-color: cornflowerblue;
}

.container-h {
  display: flex;
  justify-content: right;
  background-color: cornflowerblue;
}

.View {
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  max-height: 650px;
  overflow: scroll;
}

.toggle {
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  background-color: cornflowerblue;
}

.card {
  border: 0;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
}

.active {
  background-color: white;
  button {
    font-weight: 900;
    color: cornflowerblue;
  }
}
.add-button {
  display: flex;
  margin: 20px;
  justify-content: right;
}
