<div class="input-box">
  <h1 mat-dialog-title>EDIT USER</h1>

  <!-- Dog name -->
  <form [formGroup]="editForm">
    <div class="container form">
      <mat-form-field style="width: 600px" appearance="outline">
        <mat-label>Enter User Name</mat-label>
        <input matInput required  name="name" formControlName="name"/>
        <mat-icon matSuffix>person_outline</mat-icon>
      </mat-form-field>
    </div>

    <!-- Description -->
    <div class="container form">
      <mat-form-field style="width: 600px" appearance="outline">
        <mat-label>Enter Description</mat-label>
        <input matInput required  name="describe" formControlName="describe"/>
        <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
    </div>
  </form>

  <div mat-dialog-actions class="actions-box">
    <button mat-raised-button color="basic" (click)="onNoClick()">
      No Thanks
    </button>
    <button
      mat-raised-button
      color="accent"
      [mat-dialog-close]
      (click)="editData()"
      cdkFocusInitial
    >
      Ok
    </button>
  </div>
</div>
<!--  -->