<div class="input-box">
  <h1 mat-dialog-title>ADD NEW USER</h1>

  <!-- User name -->
  <form [formGroup]="formDetails">
    <div class="container form">
      <mat-form-field style="width: 600px" appearance="outline">
        <mat-label>Enter User Name</mat-label>
        <input matInput formControlName="name" required #name />
        <mat-icon matSuffix>person_outline</mat-icon>
      </mat-form-field>
    </div>
    <!-- Error message -->
    <small
      *ngIf="
        formDetails.get('name')?.invalid &&
        (formDetails.get('name')?.dirty || formDetails.get('name')?.touched)
      "
      class="error-details"
      >Enter Name Less Than 10 Characters</small
    >

    <!-- Description -->
    <div class="container form">
      <mat-form-field style="width: 600px" appearance="outline">
        <mat-label>Enter Description</mat-label>
        <input matInput formControlName="describe" required />
        <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
    </div>
  </form>

  <div mat-dialog-actions class="actions-box">
    <button mat-raised-button color="basic" (click)="onNoClick()">
      No Thanks
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="formDetails.invalid"
      [mat-dialog-close]
      cdkFocusInitial
      (click)="toService()"
    >
      Ok
    </button>
  </div>
</div>

<!-- -->
